<?php
session_start();
?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
         <link rel="stylesheet" href="assets/css/style.css" />
        <title>The Game</title>
        <script src="{{ asset('assets/js/draw_board.js') }}"></script>
    </head>
    <body>
        <section>
            <canvas id="mon_canvas" width="800" height="800" >
            looser tu supporte pas canvas
        </canvas>
        </section>
        <br/>
    </body>
</html>
