# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
*.iml
out
gen
.infra/docker/nginx/default.conf

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
*.log
composer.lock