<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="assets/css/style.css" />
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}Chess{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>